# Active Directory
AD_SERVER=ldap://seu-servidor-ad
AD_DOMAIN=seu-dominio.local
AD_BASE_DN=OU=DESENVOL,DC=seu-dominio,DC=local
AD_ATIVOS_BASE=CN=Ativos,OU=PML,OU=DESENVOL,DC=seu-dominio,DC=local
AD_INATIVOS_BASE=CN=Inativos,OU=PML,OU=DESENVOL,DC=seu-dominio,DC=local
AD_SEARCH_BASE=OU=DESENVOL,DC=seu-dominio,DC=local
AD_USER_OU=OU=DESENVOL,DC=seu-dominio,DC=local
AD_BIND_USER=dominio\usuario_servico
AD_BIND_PASSWORD=sua_senha

# Banco de Dados
DATABASE_URL=sqlite:///./ad_audit.db